@model Web_Project.Models.Game

@{
    ViewData["Title"] = "Create";
}

<div >
    <div class="add-game-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

             <div class="inputcontainer">
      <div class="inputgroup">
        <input asp-for="name"
          class="input"
          placeholder=" "
        />
        <label class="placeholder">
          Name
          <span style="color:red; margin-left:3px;padding-top: 3px">
            *
          </span>
        </label>
           <span asp-validation-for="name" class="text-danger"></span>

      </div>
    </div>


          <div class="inputcontainer">
      <div class="inputgroup">
        <input asp-for="releaseDate"
          class="input"
          placeholder=" "
        />
        <label class="placeholder">
          Release Date
          <span style="color:red; margin-left:3px;padding-top: 3px">
            *
          </span>
        </label>
           <span asp-validation-for="releaseDate" class="text-danger"></span>

      </div>
    </div>


          <div class="inputcontainer">
      <div class="inputgroup">
        <input asp-for="src"
          class="input"
          placeholder=" "
        />
        <label class="placeholder">
          Image Url
          <span style="color:red; margin-left:3px;padding-top: 3px">
            *
          </span>
        </label>
           <span asp-validation-for="src" class="text-danger"></span>

      </div>
    </div>



           


            <div class="inputcontainer">
                <label asp-for="GameStateId" class="control-label">Game state</label>
                <select asp-for="GameStateId" class ="form-control" asp-items="ViewBag.GameState"></select>
            </div>
            <div class="inputcontainer">
                <label asp-for="PlatformId" class="control-label">Platform</label>
                <select asp-for="PlatformId" class ="form-control" asp-items="ViewBag.Platform"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
