
@model Admin

<div class="web-class-login-form">



<form asp-action="Login"  method="post">

 <div class="inputcontainer">
      <div class="inputgroup">
        <input asp-for="Name"
          class="input"
          placeholder=" "
        />
        <label class="placeholder">
          Name
          <span style="color:red; margin-left:3px;padding-top: 3px">
            *
          </span>
        </label>
           <span asp-validation-for="Name" class="text-danger"></span>

      </div>
    </div>

     <div class="inputcontainer">
      <div class="inputgroup">
        <input asp-for="Password"
          class="input"
          placeholder=" "
        />
        <label class="placeholder">
          Password
                <span style="color:red; margin-left:3px;padding-top: 3px">
                    *
                </span>
        </label>
                <span asp-validation-for="Password" class="text-danger"></span>

      </div>
    </div>

   <input class="web-class-login-btn"  type="submit" value="log in" />
</form>

</div>

