html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #131A2A;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Blizzard",Helvetica,Arial,sans-serif;
}

.game-card-container {
    opacity:1;
    transition : all ease-in 0.1s;
    width:100%;
    position:relative ;

}

.games-cards-header{

    display:flex;
    flex-direction:row ;
    justify-content:space-between;
    align-items:center ;
}

    .games-cards-header a {
        text-decoration: none;
        color: white;
        background-color: #059AEA;
        border-radius: 15px;
        margin: 0 5px;
        padding: 5px 10px;
    }

.game-card-container:hover {
    opacity: 0.5;
    z-index: 1;
    transform: scale(1.05)
}
.inner-card {
    width: 100%;
    object-fit:cover;
    overflow:hidden ;
}
    .inner-card::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 0;
        top: 0;
        border-top: 3px solid transparent;
        border-right: 3px solid transparent;
        transition: all ease-in-out 1s;
    }
    .inner-card::before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
        transition: all ease-in-out 1s;
        z-index: 1;
    }


.cards-container {
    padding: 10% 20px; 
}



.inner-card-active .inner-card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
}

.inner-card-game-name{

position:absolute ;
top:0;
left:0 ;
width : 100%;
height : 100%;
overflow:hidden ;
display:grid ; 
align-content: end;
justify-content:center;
}

.cards-continer-header{




}

.inner-card-game-name h2 {
    transform: translateX(-200%);
    transition: ease-in all 0.7s;
    z-index: 4;
    transition-delay: 0.5s;
    color: white;
    text-align:center;
}

.inner-card-active  h2 {

    transform: translateX(0);
}
 


.inner-card-active .inner-card-game-name {

    transform :translateX(0);
}
.inner-card-active .inner-card::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-top: 3px solid red;
    border-right: 3px solid red;
}



.inner-card img {
    width: 100%;
    height: 100%;
    transition: all ease-out 1s;
    transform: translateY(100%);
    opacity: 0;
}
.inner-card-active img {
    transform: translateY(0);
    opacity: 1;
}







.web-class-navbar {
    width: 96%;
    height: 70px;
    background-color: rgba(40,45,67,0.8);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    display:flex ;
    padding:0 3%;
    justify-content:left;
    align-items:center;
  z-index:2;
    
}



.web-class-btn {
    width: 100px;
    height: 50px;
    display: grid;
    align-content: center;
    text-align: center;
    font-size:1.128em;
    border-radius:7px;
    transition:all 0.2s linear;
    margin: 0 7px;
    cursor:pointer ;

}

    .web-class-btn:hover {
        background-color: rgb(111, 116, 144);
    }


    .web-class-btn a{

         text-decoration:none ;
color:white;

    }


.carousel {
    width: 90vw;
    height: 70vh;
    position: relative;
    transform:translateX(-50%);
    left:50%;
    
}

    .carousel > ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

    .slide > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .slide[data-active] {
        opacity: 1;
        z-index: 1;
        transition-delay: 0ms;
    }

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

    .carousel-button:hover,
    .carousel-button:focus {
        color: white;
        background-color: rgba(0, 0, 0, .2);
    }

    .carousel-button:focus {
        outline: 1px solid black;
    }

    .carousel-button.prev {
        left: 1rem;
    }

    .carousel-button.next {
        right: 1rem;
    }

.games-cards-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-auto-flow: row;
    gap : 10% 20px;
    grid-auto-columns: auto;
}

@media (min-width:576px){
    .games-cards-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    }
@media (min-width:768px) {
    .games-cards-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .cards-container {
        padding: 10% 100px;
    }
}
@media (min-width:992px) {
    .games-cards-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media (min-width:1200px) {
    .games-cards-container {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}
@media (min-width:1400px) {
    .games-cards-container {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

.web-class-footer{

    display:flex ;
    flex-direction:row;
    flex-wrap:wrap ;
    justify-content:center;
    align-items:flex-start;
    gap:20px 20px;
    padding:30px ; 
    

}

    .web-class-footer a {

        text-decoration:none;
        color:white ;
        font-size:18px;

    }