
@model Game
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<a asp-controller="games" asp-action="game" asp-route-id="@Model.GameId">  
<div class="game-card-container">

  <div class="inner-card" >

        <img src=@Model.src />
        

  </div>

  <div class="inner-card-game-name">
      <div style="position:relative"> 
   <h2>@Model.name</h2>
        </div>
  </div>
  

</div>
</a>
