@{
    var games = ViewData["Games"] as List<Game>;
    var editedGames ="" ;




    void SetElements(EventHandler e, string value)
    {
        editedGames = e.Target.ToString();

    }
}
<div class="cards-container">
    <h2> 
        <button>Pc</button>
        <button onclick="SetElements">Consol</button>
        <button onclick="SetElements">PlayStation</button>
         <button ></button>
    </h2>
    <div class="games-cards-container" >

        @{
            foreach (Game game in games)
            {
                if (String.IsNullOrEmpty(editedGames))
                {


                    @await Html.PartialAsync("../Shared/GameCard", game )

                    
    }
                else  if(game.type == editedGames)
                {
                    @await Html.PartialAsync("../Shared/GameCard", game )
                    


                }

                
            }

        }
        
        

    </div>
</div>

<script> function handleclick(e , number){
    

}
</script>