@{
    List<Game> games = ViewData["Games"] as List<Game>;

}


@{
    <h2>Released Games</h2>
    foreach (Game game in games)
    {

        if (game.GameState.Name.ToLower() == "released"){
            <div style="display:flex ; flex-wrap:wrap  ">
            <div style="width:200px" > 
        @await Html.PartialAsync("../Shared/GameCard", game )
        </div>
                @foreach( var prp in game.GetType().GetProperties())
                {
                      <div>    
                    <h3> @prp.Name </h3>
                    <h3> @prp.GetValue(game) </h3>
                    </div>
                }
            </div>

        }






    }

}




