@{
    var games = ViewData["Games"] as List<Game>;

}
<div class="cards-container">
   

      <a asp-route-id="pc">Pc</a>
      <a asp-route-id="console">Console</a>
      <a asp-route-id="playstation">Playstation</a>

      
    <div class="games-cards-container" >

        @{
            foreach (Game game in games)
            {
                    @await Html.PartialAsync("../Shared/GameCard", game )

                  

                
            }

        }
        
        

    </div>
</div>

<script> function handleclick(e){
    
    
}
</script>