@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="web-class-navbar">
    <div style="display:flex"> 
    <div  class="web-class-btn" > <a asp-controller="Home" asp-action="index">Home</a></div>
    <div class="web-class-btn"> <a>About</a></div>
    </div>
    <div class="web-class-btn"> <a asp-controller="Home" asp-action="Login">Log In</a></div>




</div>
