@model bool 
@{
}

<div class="web-class-navbar">
    <div style="display:flex"> 
    <div  class="web-class-btn" > <a asp-controller="Home" asp-action="index">Home</a></div>
    <div class="web-class-btn"> <a>About</a></div>
        @if (!@Model)
        {

            <div class="web-class-btn"> <a asp-controller="Games" asp-action="Create">Add game</a></div>



        }

    </div>
    <div class="web-class-btn"> <a asp-controller="Home" asp-action="Login">Log In</a></div>
 


</div>
