@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



        <div class="carousel" data-carousel>
            <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
            <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
            <ul data-slides>

                <li class="slide" data-active>
                    <img src="https://source.unsplash.com/78A265wPiO4" alt="Nature Image #1">
                </li>
                <li class="slide">
                    <img src="https://source.unsplash.com/eOpewngf68w" alt="Nature Image #2">
                </li>
                <li class="slide">
                    <img src="https://source.unsplash.com/ndN00KmbJ1c" alt="Nature Image #3">
                </li>
            </ul>

 

            
        </div>

    <script>
    const buttons = document.querySelectorAll("[data-carousel-button]")
     

    buttons.forEach(button => {
        button.addEventListener("click", () => {
            const offset = button.dataset.carouselButton === "next" ? 1 : -1
            const slides = button
                .closest("[data-carousel]")
                .querySelector("[data-slides]")

            const activeSlide = slides.querySelector("[data-active]")
            let newIndex = [...slides.children].indexOf(activeSlide) + offset
            if (newIndex < 0) newIndex = slides.children.length - 1
            if (newIndex >= slides.children.length) newIndex = 0

            slides.children[newIndex].dataset.active = true
            delete activeSlide.dataset.active
        })
    })


    </script>
